
.title {
    margin-top: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    color: white;
    font-stretch: expanded;
}

.players {
    word-spacing: 10px;
    text-align: center;
    color: white;
}

.punteggio {
    font-size: 150%;
    word-spacing: 150px;
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    background-color: white;
    width: 35%;
    margin: 0 auto 0 auto
}

.grid-item{
    aspect-ratio: 1;
    background-color: black;
    position: relative;
}

.grid-item > span {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    
}

.circle {
    margin-top: 12%;
    border-radius: 50%;
    border: white 12px solid;
    background-color: black;
    width: 60%;
    height: 60%;
}

.line {
    background-color: white;
    height: 10px;
    width: 140px;
    border: 12px;
}

.cross {
    margin-top: 19%;
    
}

#line-a {
    transform: rotate(45deg);
}

#line-b {
    transform: translateY(-100%) rotate(-45deg);

}
